 .tt-logo img {
    max-height: 70px!important;
}

.tt-desctop-parent-multi.tt-parent-box {
    display: none;
}

.tt-stuck-parent-multi.tt-parent-box {
    display: none;
}

.tt-content-aside {
    display: none;
}

.container.container-indent {
    display: none;
}