.prodoptimg_bg{background-repeat: no-repeat; background-position: center;}
.prodoptimg{width:40px;height:40px;border-radius:100%; margin:5px;border:1px solid #333} 
.prodoptimg_sq{ border-radius:0 !important; } 
.prodoptimg.act { border: 3px solid #000;} 
.prodoptimgradio{display:inline-block;}
.btnclear_prodoptimg{font-size:12px; cursor:pointer;}
.prodoptimg_hide{display:none;} 