{{ header }} 

<!--
Módulo Comercial - Loja5.com.br
Proibido vender, revender ou distribuir o mesmo sem a devida licença de uso de acordo os termos da lei 9.609/98 e nº 9.610/98, que protegem o direito de autor sobre programas de computador.
https://www.loja5.com.br/termos-de-compra-suporte-loja5-i5.html 
-->

{{ column_left }} 

<div id="content">

<div class="page-header">
<div class="container-fluid">
<div class="pull-right">
<a href="{{ add_faixa }}" class="btn btn-success"><i class="fa fa-plus"></i> Adicionar</a>
<a href="{{ voltar }}" class="btn btn-default"><i class="fa fa-reply"></i> Voltar</a>
</div>
<h1>{{ heading_title }}</h1>
<ul class="breadcrumb">
{% for breadcrumb in breadcrumbs %} 
<li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
{% endfor %} 
</ul>
</div>
</div>

<div class="container-fluid">

<div class="alert alert-info" role="alert">O CEP Base ser&aacute; o CEP usado para calculo do frete para as faixas de entrega de cada local de acordo as modalidades que deseja usar, regras custom s&atilde;o verificadas primeiro, somente regras custom podem ser removidas, lembre-se que sempre que editar regras dever&aacute; atualizar as tabelas, em caso de uso de op&ccedil;&otilde;es de faixas de CEPs pode cidades, baixos e estados e n&atilde;o sabe como as consultar <a href="https://loja5.zendesk.com/hc/pt-br/articles/360027736452-Lista-de-Faixas-de-CEPs-por-Estados-Cidades-e-Bairros" target="_blank">clique aqui</a>.</div>

<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"><i class="fa fa-lista"></i> Faixas de CEPs</h3>
</div>
<div class="panel-body">

<div class="table-responsive">
<table class="table table-bordered table-hover">
<thead>

<tr>
<td>ID</td>
<td>UF</td>
<td>Detalhe</td>
<td>Faixa</td>
<td>Base</td>
<td></td>
</tr>

</thead>
<tbody>

{% if (faixas.num_rows > 0) %}

{% for k,v in faixas.rows %} 
<tr>
<td>{{ "%05d"|format(v['id']) }}</td>
<td>{{ v['uf'] }}</td>
<td>{{ v['detalhes'] }}</td>
<td>{{ "%05d"|format(v['inicio']) }}-000 at&eacute; {{ "%05d"|format(v['fim']) }}-999</td>
<td>{{ "%08d"|format(v['base_cep']) }}</td>
<td>
<a href="{{ valores_faixa }}&cep_base={{ v['base_cep'] }}" class="btn btn-info btn-sm">Valores</a>
<a class="btn btn-warning btn-sm" href="{{ editar_faixa }}&faixa={{ v['id'] }}">Editar</a>
{% if (v['custom']) %} 
<a class="btn btn-danger btn-sm" onclick="return confirm('Confirma remover a faixa selecionada?')" href="{{ remover_faixa }}&faixa={{ v['id'] }}">Excluir</a>
{% endif %} 
</td>
</tr>
{% endfor %} 
{% else %} 
<tr>
<td class="text-center" colspan="6">Nenhum registro disponivel!</td>
</tr>
{% endif %} 
</tbody>
</table>
</div>

<div class="row">
  <div class="col-sm-6 text-left">{{ pagination }}</div>
  <div class="col-sm-6 text-right">{{ results }}</div>
</div>

</div>
</div>

</div>
</div>

{{ footer }}