{{ header }}{{ column_left }}

<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-prodoptimg" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <button type="submit" form="form-prodoptimg" data-toggle="tooltip" onclick="$('#svsty').val(1);" title="Save & Stay" class="btn btn-primary">Save & Stay</button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a> {{ text_extension_doc }} </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if(error_warning) %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-prodoptimg" class="form-horizontal">
          <input type="hidden"  name="svsty" id="svsty" />
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="module_prodoptimg_status" id="input-mainstatus" class="form-control">
                {% if(module_prodoptimg_status) %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_style }}</label>
            <div class="col-sm-10">
              <label class="radio-inline">
                <input type="radio" name="module_prodoptimg_style" value="1" {% if(module_prodoptimg_style == 1) %}checked="checked"{% endif %}>
                {{ text_circle }} </label>
              <label class="radio-inline">
                <input type="radio" name="module_prodoptimg_style" value="2" {% if(module_prodoptimg_style == 2) %}checked="checked"{% endif %}>
                {{ text_square }} </label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_dispimgsize }}</label>
            <div class="col-sm-4">
              <div class="input-group pull-left"><span class="input-group-addon">{{ text_width }}</span>
                <input type="text" name="module_prodoptimg_dispimgw" value="{{ module_prodoptimg_dispimgw }}" class="form-control" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input-group pull-left"><span class="input-group-addon">{{ text_height }}</span>
                <input type="text" name="module_prodoptimg_dispimgh" value="{{ module_prodoptimg_dispimgh }}" class="form-control" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_gridimgsize }}</label>
            <div class="col-sm-4">
              <div class="input-group pull-left"><span class="input-group-addon">{{ text_width }}</span>
                <input type="text" name="module_prodoptimg_gridimgw" value="{{ module_prodoptimg_gridimgw }}" class="form-control" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input-group pull-left"><span class="input-group-addon">{{ text_height }}</span>
                <input type="text" name="module_prodoptimg_gridimgh" value="{{ module_prodoptimg_gridimgh }}" class="form-control" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_prodimgsize }}</label>
            <div class="col-sm-4">
              <div class="input-group pull-left"><span class="input-group-addon">{{ text_width }}</span>
                <input type="text" name="module_prodoptimg_prodimgw" value="{{ module_prodoptimg_prodimgw }}" class="form-control" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input-group pull-left"><span class="input-group-addon">{{ text_height }}</span>
                <input type="text" name="module_prodoptimg_prodimgh" value="{{ module_prodoptimg_prodimgh }}" class="form-control" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_prodpopimgsize }}</label>
            <div class="col-sm-4">
              <div class="input-group pull-left"><span class="input-group-addon">{{ text_width }}</span>
                <input type="text" name="module_prodoptimg_prodpopimgw" value="{{ module_prodoptimg_prodpopimgw }}" class="form-control" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input-group pull-left"><span class="input-group-addon">{{ text_height }}</span>
                <input type="text" name="module_prodoptimg_prodpopimgh" value="{{ module_prodoptimg_prodpopimgh }}" class="form-control" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-resetbtntext">{{ entry_resetbtntext }}</label>
            <div class="col-sm-10">
              {% for language in languages %}
              <div class="input-group pull-left"><span class="input-group-addon"><img src="{{ language['imgsrc'] }}"/> </span>
                <input type="text" name="module_prodoptimg_resetbtntext[{{ language['language_id'] }}]" value="{{ module_prodoptimg_resetbtntext[language['language_id']] }}" placeholder="{{ entry_resetbtntext }}" class="form-control" />
              </div>
              {% endfor %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}